@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
   
}

/* Container */
.container {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}


input {

    padding: 10px;
    font-size: 16px;
    border: 1px solid #25252b;
    border-radius: 4px;
    background-color: white;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}